* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --sidebar-width: clamp(15ch, 10%, 25ch);
}


/* Простые селекторы*/
body {
    font-family: "Helvetica 65 Medium", sans-serif;
    padding-left: var(--sidebar-width);
    position: relative;
    padding-bottom: 4rem;
    background-color: hsl(200, 30%, 80%);
    font-size: 1.1rem;
    min-height: 100vh;
}

button, input, textarea, select{
    font: inherit;
}

.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
}

.video-title{
    border: 2px solid black;
    margin-top: -5px;
}

.navbar {
    color: darkgray;
    padding-left: 15%;
    padding-right: 10%;
}

.navbar p:hover{
    background-color: dimgray;
    color: aliceblue;
}

.navbar a{
    color: lightgray;
}

.navbar a:visited{
    color: gray;
}

/*Глобальные стили для хедеров на всём сайте*/
header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}

#header-index {
    color: darkslategrey;
}

input.search {
    background-color: lightgray;
    color: inherit;
}

input.search:focus {
    background-color: whitesmoke;
    color: black;
}

footer {
    position: absolute;
    left: var(--sidebar-width);
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
    padding: 1rem 1%;
}

footer p{
    padding: 0.3em;
}

aside {
    min-height: 100%; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: var(--sidebar-width);
    position: absolute; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #111; /* Черный цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 2%;
    font-size: large;
}
section{
    padding: 1rem 1%;
}

.comment{
    margin-top: 2rem;
}

#commentForm *{
    display:block;
    text-align:left;
    width: 100%;
    visibility:collapse;
}

#commentForm #newCommentButton{
    visibility:visible;
}

.slider-wrapper{
    display: flex;
    align-items: center;
}

ul.slider{
    list-style-type:none;
}

.slider{
    margin: 0 -2rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 0;
    /* change to hidden later*/
    overflow-x: scroll;
    scroll-snap-type:x mandatory;
    scroll-behavior: smooth;
    /*touch-action: none;*/
    cursor: pointer;
}

.slider>*{
    scroll-snap-align: start;
}

.slider *{
    width: 100%;
}

.slider-nav{
    z-index: 1;
    color: hsla(0, 10%, 80%, 90%);
    background-color: hsla(0, 10%, 60%, 60%);
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
    min-width: 2rem;
    width: 2rem;
    height: 2rem;
    cursor: default;
}

.slider-nav:hover {
    background-color: hsla(0, 10%, 60%, 40%);
}
