<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>LifeSpot</title>
   <link href="../Static/CSS/index.css" rel="stylesheet">
   <script>
       let age;
       age = prompt("Пожалуйста, введите ваш возраст ниже:");
       if (age < 18) {
           alert(`Контент сайта не предназначен для лиц младше 18!\nВы будете перенаправлены.`);
           window.location.href = "http://www.google.com";
           throw new Error("Not old enough for our content!");
       }
       alert(`Приветствуем на LiveSpot!\n Текущее время: ${new Date().toLocaleString()}`);
   </script>
</head>
<body>
    <header class="bordered" id="header-index">
         <h1>LifeSpot — прямые трансляции с улиц</h1>
         <p>Покажем, что происходит прямо сейчас</p>
        <form class="search">
            <label for="searchInput">Найти:</label>
            <input id="searchInput" class="search" type="text" name="searchInput" value="" placeholder=" интересное видео" />
        </form>
    </header>
    <main class="bordered">
        <aside>
            <nav class="navbar">
                <a href="/">
                    <p>
                        Все трансляции
                    </p>
                </a>
                <a href="/">
                    <p>
                        О проекте
                    </p>
                </a>
            </nav>
        </aside>
        <div class="video-container">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs?si=DpZtQNtiJ3ZDstge" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3 class="video-title">Трансляция из Нью-йорка.</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8xvDwLqW2Aw?si=ITiW1uZv9SR3xUjz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
            <h3 class="video-title">Трансляция из Caнкт-Петербурга.</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nE8qkw9u7tQ?si=fbI1oW8qoDgaMi1j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3 class="video-title">Трансляция из Лондона.</h3>
        </div>
    </main>

    <footer>
        <p>
            Все права защищены.
        </p>
        <p>
            Разработка сайта - keepdream1ng.
        </p>
    </footer>
</body>
</html>